langchain
crewai
git+https://github.com/joaomdmoura/crewai-tools.git
git+https://github.com/embedchain/embedchain.git
openai
langchain-community
python-dotenv
PyPDF2
streamlit
streamlit-extras
tiktoken
streamlit-extras
pydantic
onnxruntime
